{%extends 'base.html'%}
{%block body%}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Kullanıcı Listesi
       {# <small>it all starts here</small> #}
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Examples</a></li>
        <li class="active">Blank page</li>
      </ol>
    </section>

    <div class="">
    <!-- Main content -->
    <section class="content">
       <form method="POST"  >
      <!-- Default box -->
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Kullanıcı Listesi</h3>

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                    title="Collapse">
              <i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
              <i class="fa fa-times"></i></button>
          </div>
        </div>
        {%csrf_token%}
        <div class="box-body">
          {#Start creating your amazing application!#}

         <table id="kullanıcılistesi" class="table table-bordered table-hover">
          <thead>
          <tr>
              <th>#</th>
              <th>TC</th>
              <th>Ad Soyad</th>
              <th>Telefon</th>
              <th>Mail</th>
              <th>İl</th>
              <th>Meslek</th>
              <th>Güncelle</th>


          </tr>
          </thead>
             <tbody>

                 {%for list in list_of_user%}
                 <tr>
                 <td>{{forloop.counter}}</td>{#counter tutmak için kullanıyoruz#}
                 <td>{{list.tc_no}}</td>
                 <td>{{list.name_surname}}</td>
                 <td>{{list.phone_number}}</td>
                 <td>{{list.email}}</td>
                 <td>{{list.city}}</td>
                 <td>{{list.job}}</td>
                     <td><a href="{{ list.get_update_url }}" class="btn btn-block btn-success">Güncelle</a></td>
                 </tr>
                 {% endfor %}



             </tbody>
         </table>


          </div>


        <!-- /.box-body -->
        <div class="box-footer">

          {#Footer#}
        </div>
        <!-- /.box-footer-->
      </div>
      <!-- /.box -->
       </form>
    </section>
  </div>
    <!-- /.content -->

  </div>
  <!-- /.content-wrapper -->

 {%endblock%}